.side-bar
  .header
    .header__box
      .header__box__name
        = current_user.name
      .header__box__icon
        .header__box__icon--new
          = link_to "#" , class: "header__box__icon--btn" do
            = icon('far', 'edit')
        .header__box__icon--cog
          = link_to edit_user_path(current_user) ,class: "header__box__icon--btn" do
            =icon('fa', 'cog')
  .group
    .group__list
      .group__list__name
        グループ１
      .group__list__message
        まだメッセージはありません
      .group__list__name
        グループ２
      .group__list__message
        まだメッセージはありません
      .grouop__list__name
        グループ３
      .group__list__message
        まだメッセージはありません
