.side-bar
  .header
    .header__box
      .header__box__name
        ユーザー
      .header__box__icon
        .header__box__icon--new
          = link_to "#" , class: "header__box__icon--btn" do
            = icon('far', 'edit')
        .header__box__icon--cog
          = link_to "#" ,class: "header__box__icon--btn" do
            =icon('fa', 'cog')
  .group
    .group__list
      .group__list__name
        tech-camp
      .group__list__message
        まだメッセージはありません
      .group__list__name
        test
      .group__list__message
        まだメッセージはありません
      .grouop__list__name
        tests
      .group__list__message
        まだメッセージはありません
